@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Your email address had been confirmed";
}

<h2>@ViewData["Title"]</h2>
<div>
    <hr />
    <h5>
    <a id="forgot-password" asp-page="./Login">Click to proceed to Login</a>
    </h5>
</div>

