<div>
    <nav class="navbar default-color justify-content-between navbar-light">
        <a class="navbar-brand text-light" href="#">Navbar</a>
        <form class="form-inline my-1">
            <button class="btn btn-primary mx-4" href="#" type="button"><span class="mx-1 oi oi-tag" aria-hidden="true"></span>Refresh</button>
            <div class="md-form form-sm my-0">
                <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Subject/Creator" aria-label="Search">
            </div>
            <NavLink class="alert-dark"><span class="mx-1 oi oi-magnifying-glass oi alert-dark" aria-hidden="true"></span>Search</NavLink>
        </form>
    </nav>
</div>